@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", monospace;
  font-size: 1.3rem;
}
body h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
header {
  position: fixed;
  display: flex;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  color: #111;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header .myprofile {
  display: flex;
  margin-left: 100px;
  align-items: center;
}
header .myprofile a {
  padding: 0 10px;
  color: #111;
  text-decoration: none;
}
header .profile_pic {
  width: 70px;
  padding: 0 10px;
  text-align: center;
}
header .profile_pic img {
  width: 100%;
  border-radius: 50%;
}
header nav {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
header nav a {
  padding: 0 40px;
  color: #111;
  text-decoration: none;
}
header a:hover,
nav a.active {
  color: palevioletred;
}

nav a.active {
  color: palevioletred;
}

.home {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home::before {
  content: "";
  background-image: url(./images/islamic_mosaic-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
.home .intro {
  position: relative;
  margin: 20rem;
  color: #111;
  text-align: center;
  font-size: 1.8rem;
}
.home .intro .hey {
  font-size: 4rem;
  margin-bottom: -1rem;
}
.title {
  margin: 0 200px;
  padding-bottom: 50px;
  text-align: center;
}
.about {
  padding: 100px 250px;
  background-color: #fafafa;
  color: #555;
}
.about h2 {
  font-size: 2.5rem;
  color: #111;
}
.about .side_by_side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}
h3 {
  padding-bottom: 5px;
  color: #111;
}

table td {
  padding: 15px;
  background-color: #e7e7e7;
  border: 10px #fafafa solid;
  border-radius: 20px;
  text-transform: capitalize;
}
td:hover {
  background-color: palevioletred;
  color: #fff;
}

.projects {
  padding: 100px 250px;
  background-color: #fff;
  color: #111;
}

.one_project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;
}

.one_project:nth-of-type(odd){
  flex-direction: row-reverse;
}

.one_project .image {
  flex: 1;
}

.one_project .project_desc {
  flex: 1;
  margin: 10px 60px;
}


/* Additional styling can be added here for buttons, headings, etc. */


.one_project .screenshot {
  width: 500px;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
.project_desc p {
  font-size: 1.1rem;
}
.project_desc .discover_btn {
  height: 40px;
  width: 170px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: palevioletred;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.contact {
  position: relative;
  padding: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact::before {
  content: "";
  background-image: url(./images/islamic_mosaic-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
.contact .title {
  padding-bottom: 20px;
}
.contact_form {
  position: relative;
  padding: 50px 150px;
  background-color: #fff;
  color: #111;
  border-radius: 20px;
  text-align: center;
}
.contact label {
  float: left;
}
form input {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin: 20px 0;
  padding: 5px 20px;
  height: 50px;
  width: 100%;
  font-size: 1.1rem;
}
form textarea {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  font-size: 1.1rem;
}
.one_input {
  margin: 20px 0;
}
#submit_btn {
  margin-top: 50px;
  background-color: palevioletred;
  color: #fff;
  border-radius: 15px;
  border: none;
  height: 70px;
  width: 60%;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Young Serif", monospace;
}
footer {
  position: relative;
  height: 300px;
  padding: 50px;
  background-color: #111;
  color: #fff;
  text-align: center;
}
.footer_top {
  margin: 30px 0;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.social a {
  margin: 0 5px;
  height: 30px;
}
.footer_bottom {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  border-top: 1px solid #fff;
  font-size: 1rem;
  text-align: center;
}
.footer_bottom #white_heart_icon {
  width: 1%;
}

@media (max-width: 801px) {
  .home .intro {
    margin: 20px;
    font-size: 1.8rem;
    color: #555;
  }
  .home .intro .hey {
    color: #111;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .title {
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
  }
  .about {
    padding: 20px;
  }
  .about .side_by_side {
    display: block;
    margin: 10px;
  }
  .about .discover {
    padding: 10px 0;
  }
  .about table td {
    padding: 10px;
    font-size: 1.1rem;
  }
  .projects {
    padding: 50px 20px;
    text-align: center;
  }
  .one_project {
    display: block;
  }
  .one_project .screenshot {
    width: 300px;
  }
  .projects .project_desc{
    padding: 20px 0;
  }
  .contact_form {
    padding: 30px 55px;
  }
  form input , form textarea{
    padding: 5px 0 5px 20px;
  }
  form #submit_btn{
    width: 100%;
  }
  .footer_bottom{
    position: static;
    padding: 5px 0;
  }
  .footer_bottom #white_heart_icon {
    width: 6%;
  }
}
